<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
<body>

	<h1>TEST CALL</h1>
	<input type="text" id="flight" name="flight" placeholder="Input Flight and #"></input>
	<input type="submit" id="submit"></input>

	<div id="response"></div>
	<div id="image"></div>
</body>



<script type="text/javascript">
	$( document ).ready(function() {
        console.log( "document loaded" );
		

        $("#submit").click(function() {
        	var data = { flight: $("#flight").val() };
        	console.log(data);
        	setTimeout(function () {
	        	$.ajax({
	        		contentType: 'application/json',
	        		type: 'POST',
	  				url: "/getdelaytime",
	  				data: JSON.stringify(data),
	  				success: function(resp) {
	  					console.dir(JSON.stringify(resp.delay[0].subpods[0].image));
	  					$("#response").html('<p>' + resp.delay + '</p>');
	  				} 
				}).done(function() {
	  				
				});
			}, 10);
        });
    });

</script>
</html>